<!doctype html>

<html lang="en">


<head>

    <link href="/css/stylesheet.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Chess Results</title>
    <meta charset="utf-8">
    <script src="script/app.js" defer></script>

</head>

<body class="container">

    <aside class="notes">
        <h1>Music</h1>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/YrcyW38bUVI?"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe><br>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/-IYezXpSFVI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe><br>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/7SrJb-jdQao" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </aside>

    <main class="textbox">
        <header>
            <h1><img src="/images/logo.png" width="300" alt=""></h1>

            <h2>Recent Matches:</h2>
            <% for (match in matches) { if (matches[match].winner=="AI" ){ %>
                <p style="font-size: 1.2em;"><a class="matchlink" href="<%= " /match/"+matches[match].match_id %>">
                        <%= matches[match].played %> - <%= matches[match].winner %> (<%= matches[match].AIcolor %>)
                                    defeated <%= matches[match].playername %> (<%= matches[match].playercolor %>) in <%=
                                                matches[match].time %> seconds!
                    </a></p>
                <% } else{ %>
                    <p style="font-size: 1.2em;"><a class="matchlink" href="<%= " /match/"+matches[match].match_id %>">
                            <%= matches[match].played %> - <%= matches[match].playername %> (<%=
                                        matches[match].playercolor %>) defeated the AI (<%= matches[match].AIcolor %>)
                                            in <%= matches[match].time %> seconds!
                        </a></p>
                    <% } } %>


    </main>



</body>


</html>