<!doctype html>

<html lang="en">


<head>

    <link href="/css/stylesheet.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Chess Results</title>
    <meta charset="utf-8">
    <script src="script/app.js" defer></script>

</head>

<body class="container">

    <aside class="notes">
        <h1>Music</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YrcyW38bUVI?&autoplay=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </aside>

    <!-- <footer>
        <h2>Keep In Touch</h2>

        <nav>
            <a href="https://www.linkedin.com" title="LINKEDIN WEBSITE"><img
                    src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"
                    width="75" height="75"></a>

            <a href="https://www.google.ca/" title="INTERNET"><img
                    src="https://cdn0.iconfinder.com/data/icons/internet-line/512/Internet_Line-02-512.png" width="75"
                    height="75"></a>
        </nav>


    </footer> -->

    <main class="textbox">
        <header>
            <h1>Chess? Chess.</h1>

            <!-- <nav class="alignR">
                <a href="" title="link to about">About</a>

                <a href="" title="link to docs">docs</a>
            </nav>

        </header>

        <div class="flex-new">
            <button class="button new-button">
                New match
            </button>

            <button class="button Dark-button" id="Drkbtn">
                Dark Theme
            </button>
        </div>


        <section>
            <textarea class="note" name="note" rows="5" cols="70">Write Notes here</textarea>
        </section>

        <div class="alignR">
            <button class="button save-button">
                Save
            </button>

            <button class="button cancel-button">
                End match
            </button>
        </div> -->
            <h2>Recent Matches:</h2>
            <% for (match in matches) { if (matches[match].winner=="AI" ){ %>
                <h4>
                    <%= matches[match].winner %> (<%= matches[match].AIcolor %>) defeated <%= matches[match].playername
                                %> (<%= matches[match].playercolor %>) in <%= matches[match].time %> seconds!
                </h4>
                <% } else{ %>
                    <h4>
                        <%= matches[match].playername %> (<%= matches[match].playercolor %>) defeated the AI (<%=
                                    matches[match].AIcolor %>) in <%= matches[match].time %> seconds!
                    </h4>
                    <% } } %>


    </main>



</body>


</html>